.button {
    border: 2px solid var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    min-width: fit-content;
    transition: all 0.2s ease;
    &.button-full {
        display: block;
        width: 100%;
        text-align: center;
    }
    &.button-rounded-6 {
        border-radius: 3rem;
    }
    &.button-light {
        background-color: white;
        color: #1f1f1f;
        border: 1px solid #ddd;
    }
}
.button-outlined {
    color: var(--primary-color);
    background-color: transparent;
    border-radius: 2rem;
    &.button-outlined-red {
        border-color: var(--red-color);
        color: var(--red-color);
    }
    &.button-outlined-white {
        border-color: #4a5568;
        color: #4a5568;
    }
    &.button-outlined-squared {
        border-radius: 4px;
    }
}
.button-sm {
    padding: 0.6rem 1.2rem;
    font-size: 14px;
}
.button-secondary {
    background-color: #433d3d;
    border: 1px solid #433d3d;
}
.button-red {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    box-shadow: 0px 2px 2px 1px var(--red-color);
}

.button-green {
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
    box-shadow: 0px 2px 2px 1px var(--green-color);
}

.button-outlined-hover-green {
    color: var(--green-color);
    background-color: transparent;
    border: 1px solid transparent;
    &:hover,
    &.active {
        border: 1px solid var(--green-color);
        color: var(--green-color);
    }
    &.has-border {
        border: 1px solid var(--green-color);
    }
}

.error-message {
    color: red;
    font-size: 20px;
    background: #ffff;
    padding: 5px 5px;
    border-radius: 5px;
}
.bg-gray {
    background-color: rgb(227, 227, 227);
}
/* The container */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmarkCheckbox {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmarkCheckbox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmarkCheckbox {
    background-color: var(--green-color);
}

/* Create the checkmarkCheckbox/indicator (hidden when not checked) */
.checkmarkCheckbox:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmarkCheckbox when checked */
.checkboxContainer input:checked ~ .checkmarkCheckbox:after {
    display: block;
}

/* Style the checkmarkCheckbox/indicator */
.checkboxContainer .checkmarkCheckbox:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* The container */
.custom-radio__container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radioCheckmark {
    position: absolute;
    top: 5px;
    left: 6px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 100%;
    border: 1px solid var(--green-color);
}

/* When the radio button is checked, add a blue background */
.custom-radio__container input:checked ~ .radioCheckmark {
    background-color: white;
    border-color: var(--green-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioCheckmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio__container input:checked ~ .radioCheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio__container .radioCheckmark:after {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--green-color);
}
.cursor-pointer {
    cursor: pointer;
}
.w-200px {
    width: 200px;
    @media (max-width: 768px) {
        width: 80px;
    }
}
.mh-85vh {
    min-height: 90vh;
    margin-top: -2.5rem;
    padding-top: 2.5rem;
}
.mh-90vh {
    min-height: 90vh;
}
.w-150px {
    width: 150px;
    @media (max-width: 768px) {
        width: 90px;
    }
}
.d-flex-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 650px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.list-bullet {
    list-style-type: circle;
}
.text-green {
    color: var(--green-color) !important;
}
.text-underline {
    text-decoration: underline !important;
}
.bg-green-blur {
    background-color: #f0f7f1;
}
.custom-shadow {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.bg-green-header {
    background-color: var(--green-header-color) !important;
}
.bg-none {
    background-color: transparent !important;
}
.page-banner {
    max-width: 100%;
}
.should-stack-on-mobile {
    @media (max-width: 768px) {
        flex-direction: column;
        &.align-items-center {
            align-items: flex-start !important;
        }
    }
}
.text-small {
    font-size: smaller;
}
.text-red {
    color: red;
}

.f-16 {
    font-size: 16px;
}

.f-20 {
    font-size: 20px;
}
.f-24 {
    font-size: 24px;
}

.f-32 {
    font-size: 32px;
}

.f-40 {
    font-size: 40px;
}

.f-48 {
    font-size: 48px;
}
.mw-60-pc {
    max-width: 60%;
    @media (max-width: 768px) {
        max-width: 95%;
    }
}
.top-30 {
    top: 30%;
}
.bg-green-blur__bolder {
    background-color: var(--green-blur-bolder);
}
